<p>drag-and-drop works!</p>

<div class="tableContainer">

<table class="vjTable"> 
    <thead>
        <tr>
            <td>Name</td>
            <td>Father Name</td>
            <td>Mother Name</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let i of EmployeeList">
            <td (mouseover)="hover=true" (mouseleave)="hover=false">{{i.Name}}</td>
            <td (mouseover)="hover=true" (mouseleave)="hover=false">{{i.FatherName}}</td>
            <td (mouseover)="hover=true" (mouseleave)="hover=false">{{i.MotherName}}</td>
        </tr>
    </tbody>
</table>

<div >
        <span [ngStyle]="{backgroundColor: hover==true  ? 'lightgrey' : 'grey' }">hello {{ hover }}</span>
</div>
</div>

<br/>
<h3>Swap List Demo</h3>
<p>Move Items back and forth from List 1 to List 2 and vice versa.</p>
<hr>

<div class="row">
    <div class="col-sm-3">
        <div class="card card-outline-primary mb-3" droppable
              (onDrop)="onList1Drop($event)">
            <div class="card-header card-inverse card-primary">List 1</div>
            <div class="card-block scroll-list">
                <ul class="list-group">
                    <li draggable *ngFor="let item of list1" class="list-group-item ">
                        {{item.name}}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card card-outline-primary mb-3" droppable 
            (onDrop)="onList2Drop($event)">
            <div class="card-header card-inverse card-primary">List 2</div>
            <div class="card-block scroll-list">
                <ul class="list-group">
                    <li draggable *ngFor="let item of list2"  class="list-group-item">
                        {{item.name}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
