.tableContainer {
  width: 100%;
  height: auto;
  border-radius: 2px 2px;
}

.heading {
  flex: 1;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 22px;
  text-shadow: grey;
  letter-spacing: 1.5;
  word-spacing: 1.2;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.vjTable {
  position: relative;
  width: 100%;
  padding: 4px;
  vertical-align: middle;
  border: 1px solid #ad6060;
  align-content: center;
  border-spacing: 2px;
}

.vjTable th {
  font-size: 17px;
  background: rgb(232, 150, 77);
  padding: .4% .4%;
  vertical-align: middle;
  text-align: center;
  table-layout: auto;
}

.vjTable tr td {
  position: relative;
  padding: 0px 0px;
  vertical-align: middle;
  text-align: center;
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
  
  height: 100%;

  text-align: center;
  justify-content: center;
  align-items: center;
}

.vjTable td:active {
  background: #ad6060;
  color: white;
  transform: scale(1); 
  animation: 3s ease-in-out;
}


.vjTable td:active:after .tableCell {

  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  background: transparent;
  padding: 0px 0px;
  text-shadow: 1px 1px 1px;
  color: white;
  font-size: 20px;
  opacity: 1;
  transition: 0s
}

.tableCell {
  width: 100%;
  height: 50px;
  /* background: rgb(238, 206, 206); */
  /* box-shadow: 0px 0px 12px 7px; */
  text-align: center;
  vertical-align: middle;
  padding: 12px 0px;
}


.clickedClass {
  background: #ad6060;
  color: white;
  font-weight: bold;
  transition: 0.3ms ease-in-out; 
  font-weight: 400;
}

.cell{
  transition: 0.2s ease-in-out;
  padding: 3px;
  height: 100%;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

* {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}
