<div class="tableContainer">
 
    <div class="heading">
      <p>
        Click and hover over the cell to copy the selected value.
      </p>
    </div>
<div style="height: 10px;"></div>
<table class="vjTable"> 
    <thead>
        <tr>
            <th>Name</th>
            <th>Employee Name</th>
            <th>Day 2</th>
            <th>Day 3</th>
            <th>Day 4</th>
            <th>Day 5</th>
            <th>Day 6</th>
            <th>Day 7</th>
            <th>Day 8</th>
            <th>Day 9</th>
        </tr>
    </thead>
    <tbody #tableContainer id="tbody" >
        <tr *ngFor="let i of EmployeeList">
            <td> <div class="">{{i.EmpId}}</div> </td>
            <td> <div class="">{{i.Name}}</div> </td>
            <td> <div class="cell">{{i.DayOne}}</div> </td>
            <td> <div class="cell">{{i.DayTwo}}</div> </td>
            <td> <div class="cell">{{i.DayThree}}</div> </td>
            <td> <div class="cell">{{i.DayFour}}</div> </td>
            <td> <div class="cell">{{i.DayFive}}</div> </td>
            <td> <div class="cell">{{i.DaySix}}</div> </td>
            <td> <div class="cell">{{i.DaySeven}}</div> </td>
            <td> <div class="cell">{{i.DayEight}}</div> </td>
        </tr>
    </tbody>
</table>

<div >
        <span [ngStyle]="{backgroundColor: hover==true  ? 'lightgrey' : 'grey' }">hello {{ hover }}</span>
</div>
</div>
<!--   
<h3>Swap List Demo</h3>
<p>Move Items back and forth from List 1 to List 2 and vice versa.</p>
<hr>

<div class="row">
    <div class="col-sm-3">
        <div class="card card-outline-primary mb-3" droppable
              (onDrop)="onList1Drop($event)">
            <div class="card-header card-inverse card-primary">List 1</div>
            <div class="card-block scroll-list">
                <ul class="list-group">
                    <li draggable *ngFor="let item of list1" class="list-group-item ">
                        {{item.name}}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card card-outline-primary mb-3" droppable 
            (onDrop)="onList2Drop($event)">
            <div class="card-header card-inverse card-primary">List 2</div>
            <div class="card-block scroll-list">
                <ul class="list-group">
                    <li draggable *ngFor="let item of list2"  class="list-group-item">
                        {{item.name}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div> -->
