<p>drag-and-drop works!</p>

<div class="tableContainer">

<table class="vjTable"> 
    <thead>
        <tr>
            <th>Name</th>
            <th>Father Name</th>
            <th>Mother Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let i of EmployeeList">
            <td (mouseover)="hover=true" (mouseleave)="hover=false">{{i.Name}}</td>
            <td (mouseover)="hover=true" (mouseleave)="hover=false">{{i.FatherName}}</td>
            <td (mouseover)="hover=true" (mouseleave)="hover=false">{{i.MotherName}}</td>
        </tr>
    </tbody>
</table>
<div style="height: 90px;"></div>
<table class="vjTable"> 
    <thead>
        <tr>
            <th>Name</th>
            <th>Employee Name</th>
            <th>Day 1</th>
            <th>Day 2</th>
            <th>Day 3</th>
            <th>Day 4</th>
            <th>Day 5</th>
            <th>Day 6</th>
            <th>Day 7</th>
            <th>Day 8</th>
        </tr>
    </thead>
    <tbody #tableContainer>
        <tr *ngFor="let i of EmployeeList">
            <td> <div class="cell">{{i.EmpId}}</div> </td>
            <td> <div class="cell">{{i.Name}}</div> </td>
            <td> <div class="cell" (mouseup)='MouseUp()' (mouseover)="MouseHover($event)" (mousedown)='MouseDownEvent($event)'>{{i.DayOne}}</div> </td>
            <td> <div class="cell" (mouseup)='MouseUp()' (mouseover)="MouseHover($event)" (mousedown)='MouseDownEvent($event)'>{{i.DayTwo}}</div> </td>
            <td> <div class="cell" (mouseup)='MouseUp()' (mouseover)="MouseHover($event)" (mousedown)='MouseDownEvent($event)'>{{i.DayThree}}</div> </td>
            <td> <div class="cell" (mouseup)='MouseUp()' (mouseover)="MouseHover($event)" (mousedown)='MouseDownEvent($event)'>{{i.DayFour}}</div> </td>
            <td> <div class="cell" (mouseup)='MouseUp()' (mouseover)="MouseHover($event)" (mousedown)='MouseDownEvent($event)'>{{i.DayFive}}</div> </td>
            <td> <div class="cell" (mouseup)='MouseUp()' (mouseover)="MouseHover($event)" (mousedown)='MouseDownEvent($event)'>{{i.DaySix}}</div> </td>
            <td> <div class="cell" (mouseup)='MouseUp()' (mouseover)="MouseHover($event)" (mousedown)='MouseDownEvent($event)'>{{i.DaySeven}}</div> </td>
            <td> <div class="cell" (mouseup)='MouseUp()' (mouseover)="MouseHover($event)" (mousedown)='MouseDownEvent($event)'>{{i.DayEight}}</div> </td>
        </tr>
    </tbody>
</table>

<div >
        <span [ngStyle]="{backgroundColor: hover==true  ? 'lightgrey' : 'grey' }">hello {{ hover }}</span>
</div>
</div>

<div #myDiv style="width: 200px; height: 200px; background: bisque;">
    It's div content
</div>

<br/>
<h3>Swap List Demo</h3>
<p>Move Items back and forth from List 1 to List 2 and vice versa.</p>
<hr>

<div class="row">
    <div class="col-sm-3">
        <div class="card card-outline-primary mb-3" droppable
              (onDrop)="onList1Drop($event)">
            <div class="card-header card-inverse card-primary">List 1</div>
            <div class="card-block scroll-list">
                <ul class="list-group">
                    <li draggable *ngFor="let item of list1" class="list-group-item ">
                        {{item.name}}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card card-outline-primary mb-3" droppable 
            (onDrop)="onList2Drop($event)">
            <div class="card-header card-inverse card-primary">List 2</div>
            <div class="card-block scroll-list">
                <ul class="list-group">
                    <li draggable *ngFor="let item of list2"  class="list-group-item">
                        {{item.name}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
