
<div [@openClose]= "isOpen ? 'open' : 'close'">
    <div class="pageHeadding">
        csharp works!
    </div>
    <hr/>
    <!-- <p>The box is now {{ isOpen ? 'Open' : 'Closed' }}!</p> -->
    <div>
        <strong>Object Oriented Programming (OOPs) Concept</strong>
        <p class="pCustom">
            <strong>Object-oriented programming :</strong>
            As the name suggests, Object-Oriented Programming or OOPs refers to languages that uses objects in programming. Object-oriented programming aims to implement real-world entities like inheritance, hiding, polymorphism etc in programming. The main aim of OOP is to bind together the data and the functions that operate on them so that no other part of the code can access this data except that function.
        </p>
    </div>
    <div>
        <strong>OOPs Concepts:</strong>

            <ol>
                <li>Polymorphism </li>
                <li>Inheritence </li>
                <li>Encapsulation </li>
                <li>Abstraction </li>
                <li>Class </li>
                <li>Object </li>
                <li>Method </li>
                <li>Message Passing </li>
            </ol>
    </div>
</div>