 


<div [@openClose]= "isOpen ? 'open' : 'close'" class="pageHeadding">
    angular works!
  </div>
  <hr/>

  <div>
    <p class="pCustom">AngularJS is a structural framework for dynamic web apps. With AngularJS, designers can use HTML as the template language and it allows for the extension of HTML's syntax to convey the application's components effortlessly. Angular makes much of the code you would otherwise have to write completely redundant.</p>

    <p class="pCustom"> Despite the fact that AngularJS is commonly related to SPA, you can use Angular to build any kind of app, taking advantage of features like: Two-way binding, templating, RESTful api handling, modularization, AJAX handling, dependency injection, etc.</p>
  </div>


  <div>
    <p>Current Time:</p>
    <p>{{currentTime}}</p>
  </div>