.avatar {
  width: 22%;
  height: 10%;
  border-radius: 50%;
}

.btnNavigation {
  height: 37px;
    width: 37px;
    border-radius: 4px;
    margin-top: 11px;
    background: #19b5fe;
}

.flex-right {
  flex-basis: 15%;
  flex-direction: row;
  text-align: center;
  vertical-align: middle;
  padding: 1% 0%;
}

.flex-left {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: bolder;
  flex-basis: 85%;
}

.header {
  display: flex;
  background-color: rgba(30, 130, 76, 1);
  /*  #451771 #f1f1f1; */
  padding: 0px 10px;
  border-radius: 8px 8px 0px 0px;
  width: 100%;
  height: 8vh;
}

.progressBarContainer {
  position: relative;
  content: "";
  left: 0;
  top: 0;
  height: 5px;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0px 0px 12px rgb(0, 0, 0.2);
  border-bottom: 1px;
  background: #ecf0f1;
}
.progressBarContainer{
  position: relative;
  width: 100%;
  height: 5px;
  box-shadow: inset 0 0 5px rgba(0,0,0,.2);
  overflow: hidden;
}
.progressBarContainer:after{
  content: '';
  position: absolute;
  width: 0%;
  left: 0;
  border-radius: 4px;
  background: red;
  height: 100%;
  width: 1%;
  box-shadow: inset 0 0 5px rgba(0,0,0,.2);
  display: inline-block;  
  animation: load infinite 5s;

}


@keyframes load{
  20%{
    width: 20%;
    background: #f50303;
  }
  30%{
    width: 60%;
    background:#cf551c ;
  }

  50%{
    width: 70%;
    background: #cf551c;
  }
  
  60%{
    width: 80%;
    background:#f39c12 ;
  }
  
  80%{
    width: 90%;
    background: #f39c12 ;
  }

  85%{
    width: 90%;
    background: #f39c12 ;
  }

  90%{
    width: 90%;
    background: #f39c12 ;
  }
  
  100%{
    width: 100%;
    background: #075f04;
  }
}