
  <ul>
    <li><a routerLink="/Home">Home</a></li>
    <li><a routerLink="/EmployeeSetting">Employee Setting</a></li>
    <li><a routerLink="/Calendar">Calendar View</a></li>
    <li><a routerLink="/CSharp">OOPs</a></li>
    <li><a routerLink="/Core">Dot Net Core</a></li>
    <li><a routerLink="/Angular">Angular</a></li>
    <li><a routerLink="/Wpf">WPF</a></li>
    <li><a routerLink="/aspmvc">ASp .NET mvc</a></li>
    <li><a routerLink="/jquery">j-query</a></li>
    <li><a routerLink="/mssql">ms-SQL Server</a></li>
    <li><a routerLink="/firebase">Fire Base</a></li>
    <li><a routerLink="/tableAnimation">Table Animation</a></li>
    <li><a routerLink="/unauth">Un-Authorization</a></li>
    <li><a routerLink="/dragAndDrop">Drag and Drop</a></li>
    <li><a routerLink="/retrospective">Retrospective</a></li>
  </ul> 















