
  .tableContainer{
    width: 100%;
    height: 80%;
    position: fixed;
    overflow: auto;
  }
  .vjTable {
    position: relative;
    width: 100%;
    padding: 4px;
    vertical-align: middle;
    border: 1px solid black;
    align-content: center;
    border-spacing: 2px;
    max-height: 80vh;
    height: 80%;
    z-index: 199;
  }

  .vjTable th {
    font-size: 17px;
    font-size: 2;
    background: rgb(232, 150, 77);
    padding: .4% .4%;
    vertical-align: middle;
    text-align: center;
    table-layout: auto;
    position: sticky;
    top: 0;
  }

  .vjTable tr td {
    position: relative;
    padding: 4px 4px;
    vertical-align: middle;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
  }
  
  .vjTable td:hover {
    cursor: pointer;
  }
  
  .vjTable td:active {
    background: rgb(248, 248, 248);
    border: 2px solid red;
    /* border-radius: 4px 4px; */
    transform: scale(1.01);
    box-shadow: 0px 0px 1px 1px red; 
  }
  
  .vjTable td:active:after .tableCell {
  
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    transition: cubic-bezier(0.68, -0.55, 0.27, 1.55);
    background: transparent;
    padding: 0px 0px;
    text-shadow: 1px 1px 1px;
    color: white;
    font-size: 20px;
    opacity: 1;
    transition: 0s
  }
  
  .tableCell {
    width: 100%;
    height: 50px;
    /* background: rgb(238, 206, 206); */
    /* box-shadow: 0px 0px 12px 7px; */
    text-align: center;
    vertical-align: middle;
    padding: 12px 0px;
  }
  .vjTable tr td:first-child {
    text-align: left;
  }

  
  .vjTable > tr td:first-child{
    text-align: left;
  }


  .dragStart {
    box-shadow: inset 0px 0px 8px rgba(0, 0,0,0.2);
  }


