<div [@openClose]= "isOpen ? 'open' : 'close'" class="pageHeadding">
    aspcore works!
</div>
<hr/>
<div>
    <p class="pCustom">
            ASP.NET Core is a free and open-source web framework, and higher performance than ASP.NET,[3] developed by Microsoft and the community.[4] It is a modular framework that runs on both the full .NET Framework, on Windows, and the cross-platform .NET Core. However the expected version ASP.NET Core 3 was announced to work only on .NET Core dropping support of .NET Framework.
    </p>
    <p class="pCustom">
            The framework is a complete rewrite that unites the previously separate ASP.NET MVC and ASP.NET Web API into a single programming model.
    </p>
    <p class="pCustom">
            Despite being a new framework, built on a new web stack, it does have a high degree of concept compatibility with ASP.NET MVC. ASP.NET Core applications supports side by side versioning in which different applications, running on the same machine, can target different versions of ASP.NET Core. This is not possible with previous versions of ASP.NET.
    </p>
</div>


