<div class="tableContainer">
  <table class="vjTable">
    <thead>
      <tr>
        <td>Select </td>
        <td>FirstName</td>
        <td>LastName</td>
        <td>JobTitleName</td>
        <!-- <td>preferredFullName</td> -->
        <td>EmployeeCode</td>
        <td>Region</td>
        <td>PhoneNumber</td>
        <td>EmailAddress</td>
        <td>IsRostered</td>
        <td>IsSelected</td>

      </tr>
    </thead>
    <tbody [@PopUp]='data.length'>
      <tr *ngFor="let i of data">
        <td>
          <div class="tableCell "><input class="checkBox" [ngStyle]="{'background':i.IsSelected === 1 ? 'green' : ''}"
              [(ngModel)]="i.IsSelected" type="checkbox" /></div>
        </td>

        <td>
          <div class="tableCell">{{i.firstName}}</div>
        </td>

        <td>
          <div class="tableCell">{{i.lastName}}</div>
        </td>
        <td>
          <div class="tableCell">{{i.jobTitleName}}</div>
        </td>

        <td>
          <div class="tableCell">{{i.employeeCode}}</div>
        </td>
        <td>
          <div class="tableCell">{{i.region}}</div>
        </td>
        <td>
          <div class="tableCell">{{i.phoneNumber}}</div>
        </td>

        <td>
          <div class="tableCell">{{i.emailAddress}}</div>
        </td>
        <td>
          <div class="tableCell">{{i.IsRostered}}</div>
        </td>
        <td>
          <div class="tableCell">{{i.IsSelected}}</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
